html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  font-family: 'Helvetica','arial',sans-serif;
  font-size: 16px; }

p {
  font-size: 1em;
  line-height: 1.6em; }

h1, h2, h3 {
  font-family: 'Abel', sans-serif; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.4em; }

.header {
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px solid black; }
  .header h1, .header p {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; }

.content {
  position: relative;
  width: 100%;
  height: 600px;
  border-bottom: 1px black solid; }
  .content.blue {
    background-color: #87e0fd;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF87E0FD', endColorstr='#FF064EDD');
    background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #87e0fd), color-stop(30%, #53cbf1), color-stop(100%, #064edd));
    background-image: -webkit-linear-gradient(left top, #87e0fd 0%, #53cbf1 30%, #064edd 100%);
    background-image: -moz-linear-gradient(left top, #87e0fd 0%, #53cbf1 30%, #064edd 100%);
    background-image: -o-linear-gradient(left top, #87e0fd 0%, #53cbf1 30%, #064edd 100%);
    background-image: linear-gradient(left top, #87e0fd 0%, #53cbf1 30%, #064edd 100%); }
  .content.red {
    background-color: #660203;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF660203', endColorstr='#FFFF0000');
    background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #660203), color-stop(100%, #ff0000));
    background-image: -webkit-radial-gradient(center, ellipse cover, #660203 0%, #ff0000 100%);
    background-image: -moz-radial-gradient(center, ellipse cover, #660203 0%, #ff0000 100%);
    background-image: -o-radial-gradient(center, ellipse cover, #660203 0%, #ff0000 100%);
    background-image: radial-gradient(center, ellipse cover, #660203 0%, #ff0000 100%); }
  .content.green {
    background-color: #b4ddb4;
    *zoom: 1;
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFB4DDB4', endColorstr='#FF002400');
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #b4ddb4), color-stop(17%, #83c783), color-stop(33%, #52b152), color-stop(67%, #008a00), color-stop(83%, #005700), color-stop(100%, #002400));
    background-image: -webkit-linear-gradient(left, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    background-image: -moz-linear-gradient(left, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    background-image: -o-linear-gradient(left, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%);
    background-image: linear-gradient(left, #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); }
  .content.white {
    background-color: white; }
  .content.image {
    background: url("http://lorempixel.com/1280/800/abstract/") no-repeat top left;
    background-size: cover; }
  .content h2 {
    text-align: center;
    padding: 10px 0px; }

/*
 *  Styling of the background switcher
 */
.backgroundSwitcher {
  width: 200px;
  position: absolute;
  top: 50%;
  right: 5%;
  margin-top: -130px; }
  .backgroundSwitcher li {
    padding: 5px 0px;
    width: 180px;
    margin-bottom: 20px;
    border: solid 3px black;
    background-color: white; }
    .backgroundSwitcher li:hover {
      background-color: black; }
      .backgroundSwitcher li:hover a {
        color: white; }
    .backgroundSwitcher li a {
      width: 100%;
      display: block;
      text-align: center;
      color: black;
      text-decoration: none; }

/*
 *  Styling of the slider
 */
.slider {
  width: 50%;
  position: absolute;
  top: 45%;
  margin-top: -125px;
  left: 5%;
  overflow: hidden;
  cursor: pointer;
  -webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, black 10%, black 90%, rgba(0, 0, 0, 0) 100%); }
  .slider .slides {
    width: 2300px;
    height: 250px; }
    .slider .slides .slide {
      margin: 25px;
      float: left; }
      .slider .slides .slide p {
        width: 200px;
        text-align: center; }
